*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
}

body {
  margin: 0;
  font-family: 'Press Start 2P';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'Press Start 2P';
  src: url('./assets/PressStart2P-Regular.woff2') format('woff2'),
      url('./assets/PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}