.page2{
    background-color: lightgreen;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

&__name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    padding: 1rem;
}

}
